<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Iniciar Sesion</title>
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        
        <link href="css/styles.css" rel="stylesheet" />
    </head>
    <body id="page-top" class="bg-dark">
        
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="mainNav">
            <div class="container px-4">
                <a class="navbar-brand" href="index.html" style="font-style: normal; font-size: xx-large;">MemoryKeys</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a class="btn btn-success" href="registro.html">Registro</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <section id="contact" class=" bg-dark bg-gradient">
            <div class="container px-4 bg-dark text-white border rounded-3">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-8" >
                        <h2 class=" text-center">Inicio de Secion</h2>
                        <p class="lead" style="font-size: small;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero odio fugiat voluptatem dolor, provident officiis, id iusto! Obcaecati incidunt, qui nihil beatae magnam et repudiandae ipsa exercitationem, in, quo totam.</p>
                        <h3 class="text-center" style="font-size: xx-large;">Cuenta Usuario:</h3>
                    
                        <div class="text-center bg-light border-1 rounded-3" style="border: 150px;">
                            <p class="" style="color: black; font-size: larger;"> f.Carrasco</p>
                        </div>
                        <div class="text-center"><h1 style="color: rgb(255, 255, 255, 0);">------------o--------------</h1></div>
                        <h3 class="text-center" style="font-size: xx-large;">Ingresar Clave:</h3>
                        <div class="text-center bg-light border-1 rounded-3" style="border: 150px;">
                            <p class="" style="color: black; font-size: larger;"> ****************</p>
                        </div>
                        <div class="text-center"><h1 style="color: rgb(255, 255, 255, 0);">------------o--------------</h1></div>
                        <div class="text-center">
                            <a href="cuentas.html"><button type="button" class="btn btn-success">Iniciar</button></a>
                            <a href="index.html"><button type="button" href class="btn btn-danger">Cancelar</button></a>
                        </div>
                    </div>
                    <div class="text-center"><h1 style="color: rgb(255, 255, 255, 0);">------------o--------------</h1></div>
                    <div class="text-center"><h1 style="color: orange;">------------o--------------</h1></div>
                    <div class="text-center"><h1 style="color: rgb(255, 255, 255, 0);">------------o--------------</h1></div>
                    <div class="col-lg-8" >
                        <h2 class=" text-center" style="font-size: large;">Inicio de Sesion por medio de otra cuenta</h2>
                        <div class="text-center"><h1 style="color: rgb(255, 255, 255, 0);">------------o--------------</h1></div>
                        <div class="text-center bg-light" >
                            <div class=""> <a class="btn btn-sm " href="cuentas.html" style="color: black;"> <img src="https://img.icons8.com/color/16/000000/google-logo.png"> Ingresa por Google</a> </div>
                        </div>
                        <div class="text-center"><h1 style="color: rgb(255, 255, 255, 0);">------------o--------------</h1></div>
                        <div class="text-center bg-primary">
                            <div class=""> <a class="btn btn-sm " href="cuentas.html" style="color: black;"> Ingresa por Facebook</a> </div>
                        </div>
                        <div class="text-center"><h1 style="color: rgb(255, 255, 255, 0);">------------o--------------</h1></div>
                        <div class="text-center bg-success">
                            <div class=""> <a class="btn btn-sm " href="cuentas.html" style="color: black;"> Ingresar por Teno</a> </div>
                        </div>
                        <div class="text-center"><h1 style="color: rgb(255, 255, 255, 0);">--------------------------</h1></div>
                    </div>
                </div>
            </div>
        </section>
        
        <footer class="py-5 bg-dark">
            <div class="container px-4"><p class="m-0 text-center text-white">Copyright &copy; MemoryKeys 2022</p></div>
        </footer>
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        
        <script src="js/scripts.js"></script>
    </body>
</html>
